@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
	font-size: 16px;
	margin: 0px;
	font-family: "Roboto";
	color: #FFFFFF;

	background: #0270a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0270a0 0%, #06214a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0270a0 0%,#06214a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0270a0 0%,#06214a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0270a0', endColorstr='#06214a',GradientType=0 ); /* IE6-9 */

}

#loading {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;

	background: #0270a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0270a0 0%, #06214a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0270a0 0%,#06214a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0270a0 0%,#06214a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0270a0', endColorstr='#06214a',GradientType=0 ); /* IE6-9 */

	-webkit-box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	-moz-box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	
	text-align: center;
}

#loading .fa {
	font-size: 5em;
	margin: auto;
}

.list {
	width: 100%; 
	height: 100%; 
	background-color: #06214a; 
}

.list-item {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background: #0270a0; /* Old browsers */
	background: -moz-linear-gradient(top,  #0270a0 0%, #06214a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #0270a0 0%,#06214a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #0270a0 0%,#06214a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0270a0', endColorstr='#06214a',GradientType=0 ); /* IE6-9 */
}

.list-item:nth-of-type(even) { 

	background: #06214a; /* Old browsers */
	background: -moz-linear-gradient(top,  #06214a 9%, #0270a0 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #06214a 9%,#0270a0 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #06214a 9%,#0270a0 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06214a', endColorstr='#0270a0',GradientType=0 ); /* IE6-9 */

}

.list-item .accent-image { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	background-size: cover;
	/*background-size: auto 100%;*/
	background-position: center center;

	-webkit-filter: opacity(70%) grayscale(1);

}

.list-item .overlay { 
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

	/*background-size: cover;*/
	/*background-size: auto 100%;*/
	background-attachment: fixed;
	background-position: center center;


	-webkit-box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	-moz-box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);
	box-shadow: inset 9999px 9999px 9999px 9999px rgba(6, 33, 74, 0.65);

}

.list-item .accent-image .overlay { 
	width: 100%;
	height: 100%;
} 

.list-item .accent-image > * {
	flex: 1 1 auto;
}

.list-item .content {
	width: 100%; 
	height: 100%;

	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;	
}

.list-item .title {
	font: 12vw "Roboto";
	font-weight: 100;
	color: #FFFFFF;
	margin: 3% 8% 3% 8%;
	text-transform: uppercase;
	text-align:center;
	width: 70%;
	box-sizing: border-box;
	position: absolute;
}

.list-item:nth-of-type(odd) .title {
	margin-left: 25%;
	top: 10%;
	right: 0px;
	text-align: right;
}

.list-item:nth-of-type(even) .title {
	margin: 3% 25% 3% 8%;
	top: 35%;
	left: 0px;
	text-align: left;
}

.list-item .desc {
	font: 4vw "Roboto";
	font-weight: 100;
	color: #FFFFFF;
	padding: 20px;

	width: 100%;
	height: 23vh; 
	
	box-sizing: border-box;
	position: absolute;
}

.list-item:nth-of-type(odd) .desc {
	top: 32%;
	right: 0px;
}

.list-item:nth-of-type(even) .desc {
	top: 55%;
	left: 0px;
}

.list-item .logo {
	position: absolute;
	width: 55%;
	text-align: center;
}

.list-item .logo img {
	width: auto;
	max-height: 100px;
	-webkit-filter: grayscale(1) brightness(2) contrast(1);
	filter: grayscale(1) brightness(2) contrast(1);

}

.list-item:nth-of-type(odd) .logo {
	bottom: 10%;
	right: 0px;
}

.list-item:nth-of-type(even) .logo {
	top: 10%;
	right: 0px;
}


.rank { 
	font: 25vw "Roboto";
	font-weight: 500;
	background: #fccc2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #fccc2d 13%, #fdf8c6 33%, #dbb75f 71%, #f9e27c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccc2d', endColorstr='#f9e27c',GradientType=0 ); /* IE6-9 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	position: absolute;
}

.list-item:nth-of-type(odd) .rank {
	bottom: 15%;
	left: 15%;
}

.list-item:nth-of-type(even) .rank {
	top: 15%;
	left: 15%;
}

/*.show-more {
	width: 159px;
	height: 159px;
	flex: 0 0 auto!important; 
	
	box-shadow: -1px 1px 10px #FFF;

	display:flex;
	flex-flow: column nowrap;

	position: absolute;
	z-index: 12;

	transform: translate(-50%, 0px) rotate(45deg);
	-webkit-transform: translate(-50%, 0px) rotate(45deg);
	-moz-transform: translate(-50%, 0px) rotate(45deg);
	-o-transform: translate(-50%, 0px) rotate(45deg);
	-ms-transform: translate(-50%, 0px) rotate(45deg);
}*/

.list-item:nth-of-type(odd) .show-more  {  
	top: 0px;
	left: 0px; 
}

.list-item:nth-of-type(even) .show-more  {  
	bottom: 0px;
	left: 0px; 
}

.list-item .plus-button {
	position: absolute; 
	z-index: 3;
}

.list-item .plus-button .material-icons { 
	font-size: 18vw;

	background: #fccc2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #fccc2d 13%, #fdf8c6 33%, #dbb75f 71%, #f9e27c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccc2d', endColorstr='#f9e27c',GradientType=0 ); /* IE6-9 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}

.list-item:nth-of-type(odd) .plus-button  {  
	top: 8%;
	left: 1%; 
}

.list-item:nth-of-type(even) .plus-button  {  
	bottom: 8%;
	left: 1%; 
}


#details {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;

	display: none;
	overflow: hidden;
	
	-webkit-filter: drop-shadow(-0.5px 0.5px 5px rgba(255, 255, 255, 0.6));
	filter: drop-shadow(-0.5px 0.5px 5px rgba(255, 255, 255, 0.6));
}

/*.background-triangle {
	width: 200%;
	height: 200%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 15;

	transform: translate(-58%, 30%) rotate(-45deg);
	-webkit-transform: translate(-58%, 30%) rotate(-45deg);
	-moz-transform: translate(-58%, 30%) rotate(-45deg);
	-o-transform: translate(-58%, 30%) rotate(-45deg);
	-ms-transform: translate(-58%, 30%) rotate(-45deg);

	background: #162f56; 
	}
*/

.background-triangle {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	overflow: hidden;
	position: absolute; 
	top: 0px;
	left: 0px;
}
.background-triangle:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-right: 500px solid transparent;
	border-bottom: 500px solid #0a2b5a;
}
.background-square {
	width: 100%;
	height: 100%;
	background-color: #0a2b5a;
	
	position: absolute; 
	left: 0px;
}

#details.active {
	z-index: 15;
}

#details iframe { height: 30%; }

#details .content {
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 20;
	padding: 20px;
	box-sizing: border-box;
}

#details .content h3 {
	text-transform: uppercase;
	margin: 0px 0px 2px 0px;
}

#details .content .type {
	font-size: .65em;
	margin-bottom: 10px;
}

#details .content .crowd {
	font-size: .65em;
	margin-bottom: 10px;
}

#details .content .hours {
	font-size: .65em;
	margin-bottom: 10px;
}

#details .content .logo {
	position: absolute;
	right: 20px;
	bottom: 325px;
	width: 55%;
	text-align: center;
	height: 100px;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#details .content .logo img {
	width: 150px;
	max-height: 75px;
	-webkit-filter: grayscale(1) brightness(2) contrast(1);
	filter: grayscale(1) brightness(2) contrast(1);
}

#details .content .social {
	margin-top: 15px;
	text-align: center;
}

#details .content .social i.fa {
	color: #FFFFFF;
	margin: 0px 10px;
	font-size: 30px;
	display: inline-block;
}

#details #close-details {
	position: absolute;
	top: 15px;
	left: 85px;
	z-index: 25;
}

#details #close-details .material-icons  { 
	font-size: 3em;
	background: #fccc2d; /* Old browsers */
	background: -moz-linear-gradient(top,  #fccc2d 13%, #fdf8c6 33%, #dbb75f 71%, #f9e27c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #fccc2d 13%,#fdf8c6 33%,#dbb75f 71%,#f9e27c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccc2d', endColorstr='#f9e27c',GradientType=0 ); /* IE6-9 */
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.material-icons {
	color: rgba(255,255,255,0.81);
	text-align: center;
}


#list { display: flex; flex-flow: column wrap; }

.material-icons {
	text-rendering: optimizeLegibility;
}

@media (max-width: 400px) {
	.list-item .accent-image { 
		
	}
	
	
}

.show-more {
	width: 0;
	height: 0;
	padding-top: 25%;
	padding-bottom: 25%;
	padding-left: 25%;
	/*overflow: hidden;*/
	
	position: absolute;
	
}
.show-more:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-top:-500px;
	margin-left: -500px;
	
	border-top: 500px solid transparent;
	border-bottom: 500px solid transparent;
	border-left: 500px solid #10305f;
	
	-webkit-filter: drop-shadow(-0.5px 0.5px 5px rgba(255, 255, 255, 0.6));
	filter: drop-shadow(-0.5px 0.5px 5px rgba(255, 255, 255, 0.6));
}

.list-item:nth-of-type(odd) .top-triangle {
	width: 0;
	height: 0;
	padding-bottom: 50%;
	padding-left: 50%;
	overflow: hidden;
	position: absolute; 
	top: 0px;
	left: 0px;
}
.list-item:nth-of-type(odd) .top-triangle:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left: -500px;
	border-bottom: 500px solid transparent;
	border-left: 500px solid #083270;
}

.list-item:nth-of-type(odd) .bottom-triangle {
	height: 0;
	padding-top: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	right: 0px;
	right: 0px;
}
.list-item:nth-of-type(odd) .bottom-triangle:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-top:-500px;

	border-top: 500px solid transparent;
	border-right: 500px solid #083270;
}



.list-item:nth-of-type(even) .top-triangle {
	width: 0;
	height: 0;
	padding-left:100vw;
	padding-top: 100vw;
	overflow: hidden;
	position: absolute;

	top: 0px;
	right: 0px;
}
.list-item:nth-of-type(even) .top-triangle:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	margin-left:-500px;
	margin-top:-500px;

	border-left: 500px solid transparent;
	border-top: 500px solid #083270;
}

.list-item:nth-of-type(even) .bottom-triangle {
	width: 50%;
	height: 0;
	padding-bottom: 50%;
	overflow: hidden;
	position: absolute; 
	bottom: 0px;
	left: 0px;
}
.list-item:nth-of-type(even) .bottom-triangle:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border-right: 500px solid transparent;
	border-bottom: 500px solid #083270;
}


#message { 
	display: none;
	color: #FFF;
	height: 100%;
	box-sizing: border-box;
	text-align: center;
	flex-flow: column nowrap;
	justify-content: space-around;
	padding: 15%;
	font: 3.5vw "Roboto";
	font-weight: 100;
}

#message:after {
	content: "This application has not been optimized for landscape viewing. Please tilt your device back to portait mode.";
}

@media (max-width: 400px) {
	.list-item:nth-of-type(odd) .bottom-triangle  {
		width: 80vw;
		padding-top: 80vw;
	}
	.list-item:nth-of-type(even) .top-triangle  {
		padding-left: 80vw;
		padding-top: 80vw;
	}
	.list-item:nth-of-type(even) .logo {
		top: 7%;
	}
	.list-item:nth-of-type(odd) .logo {
		bottom: 7%;
	}
	.list-item .logo img {
		max-height: 75px;
		max-width: 90% ;
	}
	
	.list-item:nth-of-type(odd) .rank {
		bottom: 15%;
		left: 10%;
	}

	.list-item:nth-of-type(even) .rank {
		top: 15%;
		left: 10%;
	}

}
@media (min-width: 700px) {

.list-item .plus-button .material-icons { font-size: 15vw; }

}

/*iPhone 5 & 5s*/
@media only screen 
	and (min-device-width : 320px) 
	and (max-device-width : 568px) { 
		
	.list-item:nth-of-type(odd) .plus-button  {  
		top: 11%;
		left: 1%; 
	}

	.list-item:nth-of-type(even) .plus-button  {  
		bottom: 11%;
		left: 1%; 
	}

}

@media all and (orientation:landscape) {  
	/* Styles for Landscape screen */  
	#list { display: none; }
	#message { 
		display: flex; 
	}
}